@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply select-none;

  font-family: 'TossFace', 'Pretendard', sans-serif;
}

@font-face {
  font-family: 'TossFace';
  src: url('../fonts/TossFace.ttf') format('truetype');
}

